<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    autoReload="true" 
    internalLogLevel="Info" 
    internalLogFile="${basedir}/logs/internal-nlog.log"
    internalLogToConsole="true">
    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>
    <targets>
        <default-wrapper xsi:type="AsyncWrapper" />
        <target xsi:type="ColoredConsole" name="console"
            layout="${longdate}|${level:uppercase=true}|${logger}|${scopeproperty:item=Session}|${message}|${exception:format=tostring}" />
        <target xsi:type="File" name="file"
            fileName="${basedir}/logs/99999999.____current.log"
            archiveFileName="${basedir}/logs/{###}_archive.log"
            archiveAboveSize="20971520"
            maxArchiveFiles="100"
            archiveNumbering="DateAndSequence"
            archiveEvery="Day"
            archiveOldFileOnStartup="true"
            layout="${longdate}|${level:uppercase=true}|${logger}|${scopeproperty:item=Session}|${message}|${exception:format=tostring}" />
    </targets>
    <rules>
        <logger name="Microsoft.*" finalMinLevel="Info" />
        <logger name="Microsoft.AspNetCore.*" finalMinLevel="Debug" />
        <logger name="System.Net.Http.HttpClient.*" finalMinLevel="Debug" />
        <logger name="Trainee.PostOffice.BackgroundServices.PackagesBackgroundService" finalMinLevel="Trace"/>
		<logger name="Trainee.PostOffice.Services.RabbitMQConsumer" finalMinLevel="Trace"/>
		<logger name="Trainee.PostOffice.Services.RabbitMQPublisher" finalMinLevel="Trace"/>
		<logger name="*" writeTo="console,file"/>

	</rules>
</nlog>